# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
pokemon.Legendary.value_counts()

False    735
True      65
Name: Legendary, dtype: int64

In [5]:
#They are 65 legendary pokemon vs 735 non legendary

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [6]:
# Your code here: Mean calculation

legendary = pokemon.groupby(['Legendary'])['Total'].mean()
non_legendary_mean = legendary[0]
legendary_mean = legendary[1]
legendary

Legendary
False    417.213605
True     637.384615
Name: Total, dtype: float64

In [7]:
print(legendary_mean)

637.3846153846154

In [8]:
print(non_legendary_mean)

417.21360544217686

In [9]:
legendary_pokemon = pokemon[pokemon['Legendary'] == True]
legendary_pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True

In [10]:
# Your code here: std calculation
legendary = pokemon.groupby(['Legendary'])['Total'].std()
non_legendary_std = legendary[0]
legendary_std = legendary[1]

In [11]:
print(legendary_std)

60.937389053153446

In [12]:
print(non_legendary_std)

106.76041745713007

In [13]:
non_legendary_pokemon = pokemon[pokemon['Legendary'] == False]
non_legendary_pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [14]:
# Your code here:

from scipy.stats import ttest_ind

In [15]:
#scipy.stats.ttest_ind_from_stats(mean1, std1, nobs1, mean2, std2, nobs2, equal_var=True)

In [16]:
ttest_ind(legendary_pokemon.Total, non_legendary_pokemon.Total, equal_var= True)

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

In [17]:
# Your conclusions here:
"""
HO = means of both population are similar
H1 = means of both population are different
the pvalue is very small so the difference between the mean of each population is significant
"""

'\nHO = means of both population are similar\nH1 = means of both population are different\nthe pvalue is very small so the difference between the mean of each population is significant\n'

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [18]:
# Your code here:

pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ghost        32
Ground       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [19]:
# Your code here:

water = pokemon[pokemon['Type 1'] =='Water']
water.Total.mean()

430.45535714285717

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [20]:
# Your code here:

non_water = pokemon[pokemon['Type 1'] !='Water']
non_water.Total.mean()

435.85901162790697

In [21]:
water = pokemon[pokemon['Type 1'] =='Water']
water.Total.std()

113.18826606431458

In [22]:
non_water = pokemon[pokemon['Type 1'] !='Water']
non_water.Total.std()

121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [23]:
ttest_ind(non_water.Total, water.Total, equal_var= True)

Ttest_indResult(statistic=0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [24]:
# Your conclusions here:

"""
HO = means of both population are similar
H1 = means of both population are different
the pvalue is above 0.05 so the difference between the mean of each population is slightly close
"""

'\nHO = means of both population are similar\nH1 = means of both population are different\nthe pvalue is above 0.05 so the difference between the mean of each population is slightly close\n'

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [25]:
# Your code here:
from scipy.stats import ttest_rel

In [26]:
#Our goal is to see whether .

In [50]:
pokemon['Attack'].mean()

79.00125

In [51]:
pokemon['Defense'].mean()

73.8425

In [49]:
ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [28]:
# Your conclusions here:
"""
HO = Our hypothesis is that the defense and attack scores are equal.
H1 = there is a significant difference between each Pokemon's defense and attack scores
the pvalue is much more above 0.05 so we reject the hypothesis that defense and attack are equal.
"""

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [52]:
# Your code here:

pokemon['Sp. Atk'].mean()

72.82

In [53]:
pokemon['Sp. Def'].mean()

71.9025

Describe the results of the test in the cell below.

In [54]:
ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

In [56]:
# Your conclusions here:
"""
HO = Our hypothesis is that the defense and attack scores are equal.
H1 = there is a significant difference between each Pokemon's defense and attack scores
the pvalue is above 0.05 so we reject the hypothesis that special defense and special attack are equal.
"""

"\nHO = Our hypothesis is that the defense and attack scores are equal.\nH1 = there is a significant difference between each Pokemon's defense and attack scores\nthe pvalue is much more above 0.05 so we reject the hypothesis that defense and attack are equal.\n"

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [57]:
# Your code here:
from scipy.stats import ttest_1samp

In [58]:
difference = pokemon['Attack'].mean() - pokemon['Defense'].mean()

In [60]:
difference

5.158749999999998

In [ ]:
#the difference between attack and defense score means is 5.15

In [65]:
ttest_1samp(pokemon['Attack'] - pokemon['Defense'], 0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [ ]:
# HO = there is no difference between attack and defense means
# H1 = there is a difference between attack and defense means
# the pvalue is above 0.05, we reject HO that there is no difference between attack and defense score means

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [32]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [33]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [34]:
# Your answer here: