In [12]:
import pandas as pd
import numpy as np
import os
from scipy import stats
from scipy.stats import chi2_contingency

In [15]:
astro_metier=pd.read_csv('astro_metier.csv')
astro_metier

         signe                         metier               categorie element
0      taureau                      hoteliere  hotelerie_restauration   terre
1     scorpion                 data scientist               ingenieur     eau
2      verseau                 data scientist               ingenieur     air
3       vierge         chage de communication           communication   terre
4   capricorne  responsable marketing digital               marketing   terre
5         lion                product manager               ingenieur     feu
6       belier       charge d'etude marketing               marketing     feu
7      taureau                 vendeur de vin              commercial   terre
8         lion                     phamarcien                   sante     feu
9         lion                     phamarcien                   sante     feu
10      cancer                     phamarcien                   sante     eau
11     taureau           directeur commercial              commercial   terre
12      vierge                        finance                 finance   terre
13      vierge                         trader                 finance   terre
14  sagittaire                      ingenieur               ingenieur     feu
15     verseau                 chef de projet               ingenieur     air
16     poisson          etudiant informatique               ingenieur     eau
17    balance                        analyste              commercial     air
18  sagittaire                    photographe                    crea     feu
19     verseau         directeur photographie                    crea     air
20      vierge                  informaticien               ingenieur   terre
21     gemeaux            etaudiant marketing                etudiant     air
22      cancer                      marketing               marketing     eau
23  sagittaire                      marketing               marketing     feu
24      cancer                     consultant               marketing     eau
25      cancer                  fonctionnaire       fonction publique     eau
26      vierge                       styliste                    crea   terre
27      cancer            directeur de projet               ingenieur     eau
28     verseau                  dierecteur RH     ressources humaines     air
29     verseau                      chercheur                   sante     air
..         ...                            ...                     ...     ...
56     verseau                          sante                   sante     air
57    balance                           sante                   sante     air
58    scorpion                 transport ratp               transport     eau
59     gemeaux                  communication           communication     air
60     taureau                  communication           communication   terre
61  sagittaire                  communication           communication     feu
62    scorpion                        finance                 finance     eau
63  capricorne                      assurance                 finance   terre
64     poisson                        finance                 finance     eau
65      vierge                      hoteliere  hotelerie_restauration   terre
66     verseau                             IT               ingenieur     air
67      vierge                  communication           communication   terre
68    balance                          avocat               juridique     air
69      belier                        science                   sante     feu
70  sagittaire                        finance                 finance     feu
71     poisson                        finance                 finance     eau
72      vierge                      hotelerie  hotelerie_restauration   terre
73    balance                         juriste               juridique     air
74  capricorne                  fonctionnaire       fonction publique   terre
75      cancer                 ergotherapeute                   sante     eau
76      vierge                     commercial              commercial   terre
77    balance                        musicien                    crea     air
78     taureau             directrice d'ecole       fonction publique   terre
79     gemeaux                             IT               ingenieur     air
80     verseau                          sante                   sante     air
81     taureau                      graphiste                    crea   terre
82      belier                        danseur                    crea     feu
83    balance                              RH     ressources humaines     air
84     poisson                     commercial              commercial     eau
85     taureau                          sante                   sante   terre

[86 rows x 4 columns]

In [16]:
contingency_table = pd.crosstab(astro_metier.element, astro_metier.categorie)
contingency_table

categorie,artisanat,commercial,communication,crea,etudiant,finance,fonction publique,hotelerie_restauration,ingenieur,journalisme,juridique,marketing,ressources humaines,sante,transport
element,,,,,,,,,,,,,,,
air,0,2,1,2,1,1,0,1,4,0,2,1,2,5,2
eau,1,1,1,0,0,5,2,0,3,0,0,2,0,3,1
feu,0,0,1,2,0,2,0,0,5,0,0,2,0,3,0
terre,0,4,3,3,0,3,3,4,2,2,0,1,1,2,0

In [17]:
#scipy.stats.chi2 = <scipy.stats._continuous_distns.chi2_gen object>
chi2, p, dof, ex = chi2_contingency(contingency_table, correction=False)

In [18]:
chi2 #étape intermédiaire, valeur observée

49.323052427939636

In [20]:
dof #degree of freedom

42

In [19]:
p

0.203662078083268

In [ ]:
#tolérance 0.05 > la valeur maximale de p acceptable pour confirmer l'hypothèse alternative