In [5]:
import pandas as pd
import numpy as np
import os
from scipy import stats
from scipy.stats import chi2_contingency

In [6]:
astro_metier = pd.read_csv('astro_metier.csv')

In [7]:
contingency = pd.crosstab(astro_metier.element, astro_metier.categorie)
contingency

categorie,artisanat,commercial,communication,crea,etudiant,finance,fonction publique,hotelerie_restauration,ingenieur,journalisme,juridique,marketing,ressources humaines,sante,transport
element,,,,,,,,,,,,,,,
air,0,2,1,2,1,1,0,1,4,0,2,1,2,5,2
eau,1,1,1,0,0,5,2,0,3,0,0,2,0,3,1
feu,0,0,1,2,0,2,0,0,5,0,0,2,0,3,0
terre,0,4,3,3,0,3,3,4,2,2,0,1,1,2,0

In [8]:
chi2, p, dof, ex = chi2_contingency(contingency, correction=False)
# dof = degree of freedom
# nb d'expériences ? (à checker)

In [9]:
chi2
# chi2 observé
# étape intermédiaire pour passer d'une valeur observée à une loi statistique connue

49.323052427939636

In [ ]:
# hypothèse nulle = "il n'y a pas de corrélation"

In [ ]:
# On transforme chi2 en valeur p.
# P représente la probabilité que la valeur soit comprise dans le champ des possibles.

In [10]:
p

0.203662078083268

In [ ]:
# Tolérance 0.05 > la valeur maximale de p acceptable pour confirmer l'hypothèse alternative.

In [ ]:
# comme 0.2 > 0.05 : on ne peut pas accepter l'hypothèse qu'il y ait une corrélation 
# entre les signes astrologiques et les secteurs d'activité.