# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# enter your code here
orders = pd.read_csv("../../01-lab-subsetting-and-descriptive-stats/your-code/Orders.zip")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
# your code here
#Sub Problem 1: How to aggregate the  amount_spent for unique customers?
unique_customers = orders.groupby('CustomerID')['amount_spent'].sum()
print(unique_customers)

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
12352     2506.04
12353       89.00
12354     1079.40
12355      459.40
12356     2811.43
12357     6207.67
12358     1168.06
12359     6372.58
12360     2662.06
12361      189.90
12362     5226.23
12363      552.00
12364     1313.10
12365      641.38
12367      168.90
12370     3545.69
12371     1887.96
12372     1298.04
12373      364.60
12374      742.93
12375      457.50
12377     1628.12
12378     4008.62
12379      852.24
12380     2724.81
           ...
18242     2232.49
18245     2567.06
18246      596.10
18248      804.02
18249       95.34
18250      349.27
18251     4314.72
18252      526.67
18255      103.30
18257     2337.63
18259     2338.60
18260     2643.20
18261      324.24
18262      149.48
18263     1213.16
18265      801.51
18268       25.50
18269      168.60
18270      283.15
18272     3078.58
18273      204.00
18274      175.92
18276      335.86
18277      110.38
18278      173.90
18280      180.60
18281       80.82
18282      178.05
18283     2094.88
18287     1837.28
Name: amount_spent, Length: 4339, dtype: float64

In [4]:
unique_customers.describe()

count      4339.000000
mean       2053.793018
std        8988.248381
min           0.000000
25%         307.245000
50%         674.450000
75%        1661.640000
max      280206.020000
Name: amount_spent, dtype: float64

In [5]:
#Sub Problem 2: How to select customers whose aggregated amount_spent is in a given quantile range?
#The first group is VIP Customers whose aggregated expenses at your global chain stores are above the 95th percentile. 
p_95 = unique_customers.quantile(0.95)
p_75 = unique_customers.quantile(0.75)

VIP = orders[orders['amount_spent']> unique_customers.quantile(0.95)].CustomerID#.value_counts()
len(list(set(VIP)))

6

In [6]:
#Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?
#The second group is Preferred Customers whose aggregated expenses are between the 75th and 95th percentile.
Preferred = orders[(orders['amount_spent'] >= p_75) & (orders['amount_spent'] <= p_95)].CustomerID
len(list(set(Preferred)))

33

In [12]:
print('Preferred customers are', Preferred)
print('\n')
print('VIP customers are', VIP)

Preferred customers are 10784     18102
10786     18102
10787     18102
10788     18102
10794     18102
10795     18102
10797     18102
10799     18102
10800     18102
12992     12755
13607     18102
14708     15061
21714     16029
27338     16532
32186     17450
32187     17450
32188     17450
32189     17450
32730     15749
32731     15749
32792     15749
32793     15749
35326     14156
52375     18102
52379     18102
54330     16029
61586     18087
76240     14911
76241     14911
80236     15769
          ...
295254    12744
295255    12744
299486    18102
299487    18102
299488    18102
299489    18102
299490    18102
299491    18102
299492    18102
306755    12798
308097    14646
308822    12536
308846    12536
320899    17450
320906    16333
320908    16333
332682    12931
334250    16986
345074    12415
360757    16532
375742    17450
378078    12798
384664    13868
393222    16000
393227    16000
393237    16000
393298    15195
394417    14646
395597    16210
397110    18102
Name: CustomerID, Length: 125, dtype: int64


VIP customers are 32732     15749
37126     12346
109624    15749
118352    16029
155418    15098
248706    17450
397451    16446
Name: CustomerID, dtype: int64

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

Provide your solution for Q2 below:

In [8]:
# your code here

VIP_country = orders[orders['amount_spent']>= unique_customers.quantile(0.95)].Country
print(VIP_country.value_counts())

United Kingdom    7
Name: Country, dtype: int64

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [9]:
abovep_75= orders[orders['amount_spent'] >= p_75].Country
VIP_Preferred = abovep_75.value_counts()
VIP_Preferred

United Kingdom    116
EIRE                4
Singapore           4
Japan               3
France              2
Netherlands         2
Australia           1
Name: Country, dtype: int64

In [11]:
VIP_Preferred.index[0]

'United Kingdom'